body {
    font-family: 'Finlandica', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.text-align {
    text-align: justify;
}

.c1 {
    color: orange;
}

.flesible {
    display: flex;
    margin-bottom: 100px;
}

.c2 {
    width: 50%;
    padding-left: 5%;
}

.c2 img {
    width: 80%;
}

.c3 {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 800;
    padding: 10px 30px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.c22 {
    width: 70%;
    padding-right: 5%;
}

.c22 img {
    width: 80%;
}

.m-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}

.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full {
    border-left: 7px solid rgb(231, 71, 234);
}

#baby {
    border-left: 7px solid rgb(60, 238, 206);
}

footer h4 {
    text-align: center;
}